@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: 101 56 76;
  --on-primary: 0 0 12;
  --surface: 112 11 23;
  --on-surface: 101 56 76;
  --background: 0 0 12;
  --foreground: 0 0 100;
  --padding-container-base: 1rem;
  --padding-container-md: 2rem;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
  body {
    background-color: rgb(var(--background));
    color: rgb(var(--foreground));
  }
}

.noise {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-repeat: repeat;
  mix-blend-mode: overlay;
  pointer-events: none;
  background-image: url("/texture.png");
}

.background {
  background-size: 50% 50%;
  background-repeat: no-repeat;
  background-position: top center;
  background-image: radial-gradient(
      25% 25% at 50% 50%,
      #d8ffd608 0%,
      #d8ffd600 100%
    ),
    radial-gradient(32% 25% at 50% 50%, #203629 0%, #20362900 100%),
    radial-gradient(25% 15% at 50% 50%, #203629ff 0%, #20362900 100%),
    radial-gradient(75% 75% at 50% 50%, #1d201e 0%, #1d201e 100%);
}

.markdown {
  @apply text-foreground;
}

.markdown > * {
  @apply text-foreground;
}

.newWindow {
  display: inline-block;
  margin-left: 5px;
  position: relative;
  border: 1px solid;
  width: 8px;
  height: 8px;
}

.newWindow:after {
  position: absolute;
  top: -8px;
  right: -2px;
  font-size: 0.8em;
  content: "\1f855";
}

.newWindow:before {
  position: absolute;
  top: -3px;
  right: -3px;
  content: " ";
  border: 4px solid rgb(var(--primary));
}
